.story {
  display: flex;
  justify-content: center;
  align-items: center;
  .story-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .story-img {
      display: flex;
      justify-content: center;
      margin-right: 108px;
      img {
        width: 410px;
        height: 350px;
      }
    }

    .story-paragraph {
      width: 50%;
      h2 {
        font-family: $open-sans;
        font-weight: $bold;
        font-size: $title-size;
        margin-bottom: 16px;
        color: $black;
        margin-bottom: 16px;
        span {
          color: $rose;
        }
      }
      p {
        // padding-right: 108px;
        max-width: 448px;
        font-family: $open-sans;
        font-weight: $semi-bold;
        font-size: $paragraph-size;
        line-height: 35px;
        color: $white;
      }
    }
  }
}
